# Final Project Notebook

## Introduction  
This notebook demonstrates key concepts in data science, including programming, data visualization, and tool usage.

## Data Science Languages  
- Python  
- R  
- Julia  
- SQL

## Data Science Libraries  
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- Keras

## Data Science Tools  

| Tool           | Description                       |  
|----------------|-----------------------------------|  
| JupyterLab     | Interactive programming notebook |  
| RStudio        | IDE for R programming            |  
| Apache Spark   | Big data processing framework    |  
| Tableau        | Data visualization tool          |

## Arithmetic Expression Examples  
Below are examples of basic arithmetic operations like addition and multiplication.

In [1]:
# Multiplying and adding numbers
result_multiply = 7 * 6
result_add = 7 + 6
print("Multiplication Result:", result_multiply)
print("Addition Result:", result_add)

Multiplication Result: 42
Addition Result: 13

In [2]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

150 minutes is equal to 2.50 hours

## Objectives  
- Learn the basic structure of a Jupyter Notebook  
- Understand common data science languages and tools  
- Perform basic arithmetic and data manipulation

## Author  
[Tapabrata Banerjee]

## GitHub Link  
[Final Project Notebook](https://github.com/Taps030/git-demo30/blob/main/1%20pt.ipynb)